<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <h2><%- lang('loginOptions.loginOptionsTitle') %></h2>
            <div class="loginOptionActions">
                <div id="loginOptionWebsite" class="loginOptionButtonContainer">
                    <a class="loginOptionButton" href="<%= lang('app.loginUrl') %>">
                        <span><%- lang('loginOptions.loginWithWebsite') %></span>
                    </a>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton"><%- lang('loginOptions.cancelButton') %></button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>
